<header class='row'>
  <nav class='twelve columns u-pull-right'>
    <ul>
      <li><a href="/bedroom/test">test</li>
      <li>share</li>
      <li>+</li>
    </ul>
  </nav>
</header>

<section class='row'>

	<div class="four columns offset-by-four">

	<div class="four columns offset-by-four">

		<button type="button" name="mood"></button>
	</div>

  <%= @message %>
</section>


<% if session[:user].nil? == false %>
  Welcome to your Bedroom Party, <strong><%= session[:user].user_name %></strong>.<br>
   <a href='/logout'>Logout</a>.<br>
<% end %>
