<header class='row'>
  <nav class='twelve columns u-pull-right'>
    <ul>
      <li>share</li>
      <li>+</li>
    </ul>
  </nav>
</header>

<section class='row'>
	<div class="four columns offset-by-four"> 
		<button type="button" name="mood"></button>
	</div>
</section>
