<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bedroom Party</title>
	<link rel="stylesheet" type="text/css" href="styles/normalize.css">
	<link rel="stylesheet" type="text/css" href="styles/skeleton.css">
	<link rel="stylesheet" type="text/css" href="styles/custom.css">
</head>
<body>
	<%= yield %>
	<footer class="row">
		<p class="footer">&copy; Pineapple Party</p>
	</footer>









	<script type="text/javascript" src='/scripts/jquery.js'></script>
	<script type="text/javascript" src='/scripts/app.js'></script>
</body>
</html>
