<div class="container">
  <section class="row">
    <article class="four columns offset-by-four">
	  	<h2>Login</h2>
      	<form class="login" action="index.html" method="post">
          <input type="text" name="user_name" value="" placeholder="username or email">
          <input type="password" name="password" value="" placeholder="password"> <br> 
         <input type="submit" value="login"> <a href="users/register">not a user?</a>
      </form>

    </article>
  </section>
</div>
