<div class="container">
  <section class="row">
    <article class="four columns offset-by-four">

      <form class="login" action="index.html" method="post">
          <input type="text" name="user_name" value="" placeholder="User name">
          <input type="text" name="user_email" value="" placeholder="email">
          <input type="text" name="name" value="">
      </form>

    </article>
  </section>
</div>
