<script src="http://w.soundcloud.com/player/api.js"></script>
<script type="text/javascript" src="/scripts/imgur.js"></script>

<section class="row">
  <iframe id="soundcloud_widget"
      src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/39804767&show_artwork=false&liking=false&sharing=false&auto_play=true"
      width="420"
      height="120"
      frameborder="no"></iframe>
</section>
<!--mood button -->
  <!-- <article class="row">

  	<div class="four columns offset-by-four">
	 
	</div>
  </article> -->

<footer class="row">
	<div class="four columns offset-by-four">

	<button class="mood">mood</button>
  <div class="popUpwindow">
      <div class="row">
        <input class="playlist-link" type="text" name="playlist_link" value="" placeholder="playlist url">
        <button class="playlist-btn-updt">update</button>
      </div>
  <ul>
    <li class="playlist-btn-play"> play </li>
    <li class="playlist-btn-prev"> prev</li>
    <li class="playlist-btn-next"> next </li>
    <li class="playlist-btn-sound"> vol </li>
  </ul>
</div>
  </div>

</footer>

<script type="text/javascript" src="/scripts/app.js"></script>

</script>
<!--end mood button -->

  <!--
  widget.getSounds(function(songs) {
     		$(songs).each(function(idx){
     			arr.push(idx);
     		});
     		return arr;  -->
