<article>
	<input class="sc-url" type="text" name="url" value ="" placeholder="playlist url">
		<button class="sc-update">update</button>
</article>

<section>
	
		
</section>
<script type="text/javascript">
	$( document ).ready(function() {

	function updateSong(song_url, domElement) {
	
		SC.oEmbed(song_url, {auto_play: true}, domElement );

	};	

	var link = $('.sc-url').prop("value");
	link = decodeURIComponent(link); 

    var embedLoc = $('section')[0]; 

    SC.initialize({
      client_id: '978e422d49a50b92fa915cac4a56e5be'
    });

    $('.sc-update').click(function(){
    	link = decodeURIComponent($('.sc-url').prop("value")); 
    	updateSong(link, embedLoc); 
    }); 
});
</script>
